@font-face {
  font-family: font-gotham;
  src: url(../fonts/gotham-bold/Gotham-Bold.ttf);
}
/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: font-gotham;
}

#player {
  background: #000;
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay-change {
  background: #780206 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #061161,
    #780206
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #061161,
    #780206
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#overlay {
  /* background-color: darkblue; */
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0.8;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: all;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media (max-width: 600px) {
  li {
    font-size: 1em;
  }
  li span {
    font-size: 3rem;
  }
}

#social-footer {
  height: 10%;
  color: white;
  text-align: center;
  bottom: 0;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10% !important;
  margin: 0 auto;
}

#social-footer li span {
  font-size: 2rem !important;
}

#social-footer a {
  text-decoration: none;
  color: white;
}

#social-footer a:hover {
  color: #188a97;
}

.countdown-container {
  width: 100% !important;
  height: 40% !important;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch-container {
  width: 100%;
  height: 10%;
  color: white;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.loading {
  height: 38% !important;
  /* margin: 2% auto; */
}

#logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 25%; */
  height: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding: auto;
  transition: width 4s, height 4s, transform 4s;
  /* background-color: white; */
}

#logo-header img {
  transition: width 2s, height 2s, transform 2s;
}

#logo-header img:hover {
  transform: rotate(360deg);
}

#logo-header img {
  max-height: 100%;
  max-width: 80%;
}

.glitch {
  font-family: font-gotham;
  color: #fff;
  position: relative;
  margin: 0;
  text-transform: uppercase;
}
.glitch::after,
.glitch::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.glitch::after {
  text-shadow: -2px 2px #cc0f39;
  left: -2px;
  animation: anim1 1s infinite linear alternate-reverse;
}
.glitch::before {
  text-shadow: 2px -2px #0ffbf9;
  left: 2px;
  animation: anim2 1s infinite linear alternate-reverse;
}

@media (max-width: 991.98px) {
  .glitch {
    font-size: 55px;
  }
}
@media (min-width: 992px) {
  .glitch {
    font-size: 70px;
  }
}

@keyframes anim1 {
  0%,
  9% {
    clip-path: inset(14% 0% 23% 0%);
  }
  10%,
  19% {
    clip-path: inset(11% 0% 2% 0%);
  }
  20%,
  29% {
    clip-path: inset(43% 0% 53% 0%);
  }
  30%,
  39% {
    clip-path: inset(21% 0% 33% 0%);
  }
  40%,
  49% {
    clip-path: inset(24% 0% 3% 0%);
  }
  50%,
  59% {
    clip-path: inset(12% 0% 13% 0%);
  }
  60%,
  69% {
    clip-path: inset(13% 0% 11% 0%);
  }
  70%,
  79% {
    clip-path: inset(44% 0% 23% 0%);
  }
  80%,
  89% {
    clip-path: inset(14% 0% 93% 0%);
  }
  90%,
  99% {
    clip-path: inset(22% 0% 13% 0%);
  }
  100% {
    clip-path: inset(33% 0% 23% 0%);
  }
}

@keyframes anim2 {
  0%,
  9% {
    clip-path: inset(23% 0% 25% 0%);
  }
  10%,
  19% {
    clip-path: inset(21% 0% 53% 0%);
  }
  20%,
  29% {
    clip-path: inset(55% 0% 53% 0%);
  }
  30%,
  39% {
    clip-path: inset(62% 0% 21% 0%);
  }
  40%,
  49% {
    clip-path: inset(31% 0% 32% 0%);
  }
  50%,
  59% {
    clip-path: inset(32% 0% 73% 0%);
  }
  60%,
  69% {
    clip-path: inset(64% 0% 22% 0%);
  }
  70%,
  79% {
    clip-path: inset(31% 0% 6% 0%);
  }
  80%,
  89% {
    clip-path: inset(64% 0% 52% 0%);
  }
  90%,
  99% {
    clip-path: inset(48% 0% 41% 0%);
  }
  100% {
    clip-path: inset(92% 0% 1% 0%);
  }
}

/* svg {
  display: block;
  margin: auto;
  margin: 2% auto;
} */

#wrap {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
